h1 a {
    color: red;
    font-family: 'Lobster';
}
.page-header {
    background-color: PaleGoldenRod;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    }
