<html>
    <head>
        <title>Strona główna</title>
    </head>
    <body>
        <p>Hej Marcinie
</p>
        <p>Niestety nie udaje mi się wypisać listy aplikacji w sposób zautomatyzowany</p>
<p>Nie rozumiem dlaczego nie działa wstawienie {procent aplikacje procent}</p><p>W modelu i widoku próbowałem przypisać zmiennej aplikacje listę zainstalowanych aplikacji.</p></br>
<p> Może coś wymyślisz</p>
</p> Tymczasem wypisuję byle jak</p>

<ul>
	<li> <a href="/blogasek">Blogasek w django</a> </li>
	<li> <a href="/polls">polls</a> </li>
	<li> <a href="/mapa">mapa</a> </li>
</ul>

<p>Na pocieszenie:</p>

<iframe width="1280" height="720" src="https://www.youtube.com/embed/a-CwwPXQl7Q" frameborder="0" allowfullscreen></iframe>
    </body>
</html>

