{% load staticfiles %}
<html>
    <head>
        <title>Blogasek w django</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blogasek.css' %}">
    </head>
    
<body>
    <div class="page-header">
        <h1><a href="/blogasek">Blogasek w django</a></h1>
       {% if user.is_authenticated %}
           <p>Witaj: {{ user.get_username }}. Dziękuję za zalogowanie. </p>
       <a href="/{{ user.get_username }}/logout" class="btn btn-primary btn-warning"><span class="glyphicon glyphicon-log-out"></span> Wyloguj</a>
       {% else %}
           <p>Proszę zaloguj się, aby móc dodawać wpisy.</p>
           <a href="{% url 'admin:index' %}" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a>
       {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
