{% extends 'blogasek/base.html' %}

{% block content %}

<table class="table table-bordered table-striped">
  <thead class="thead-default">
    <tr>
      <th>Nr</th>
      <th>Tytuł</th>
      <th>Data</th>
      <th>Tekst</th>
      <th>Szczegóły</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ post.title }}</td>
      <td>{{ post.published_date }}</td>
      <td>{{ post.text }}</td>
      <td><a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-success"><span class="glyphicon glyphicon-info-sign"></span> </a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

       {% if user.is_authenticated %}
           <p><a href="{% url 'post_new' %}" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-plus"></span> Dodaj nowy post</a></p>
       {% else %}
           <p></p>
       {% endif %}

{% endblock content %}
